body {
  background-color: white;
}

.ant-card-meta-detail {
  display: flex;
  align-content: space-between;
  width: max-content;
  align-items: center;
}

.ant-card-meta-detail > div.ant-card-meta-title {
  margin-bottom: 0;
}

.ant-image-img {
  border-radius: 50%;
}

.react-datepicker-wrapper {
  width: 100%;
}
